In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('./data/1.csv', header=None)

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,11,4,2,14,42,29,2,12,5,0.72500,...,1.0,1,0.88506,0.23232,3,4,34.545,3,1.2727,0
1,14,1,1,8,32,49,4,4,12,0.83516,...,1.0,0,0.00000,0.30769,0,0,16.857,6,1.6429,2
2,3,2,0,1,9,0,0,1,1,0.00000,...,1.0,1,0.71429,0.66667,1,1,17.333,1,0.6667,0
3,12,3,0,12,37,32,0,12,12,0.85859,...,1.0,1,0.77083,0.45833,0,0,24.083,3,1.4167,0
4,6,3,0,4,21,1,0,4,6,0.70000,...,1.0,0,0.88095,0.41667,2,2,21.000,1,0.8333,0

In [4]:
from sklearn.tree import DecisionTreeClassifier

In [5]:
clf=DecisionTreeClassifier(criterion='entropy')

In [11]:
X=df.loc[[:,[0:19]]
y=df[20]
X

SyntaxError: invalid syntax (<ipython-input-11-08c4be47d38b>, line 1)

In [7]:
from sklearn.model_selection import train_test_split
train_x, test_x, train_y, test_y = train_test_split(X,y)

ValueError: Found input variables with inconsistent numbers of samples: [20, 125]